<uib-tabset justified="true">
	<uib-tab id="Data" heading="Data">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>
							<a class="nounderline" id="yearSort" href="" ng-click="usageByYearCtrl.setOrder('id')">Year</a>
							<span class="sortorder" ng-class="usageByYearCtrl.getOrder('id')"></span>
						</th>
						<th class="text-right">Down</th>
						<th class="text-right">Up</th>
						<th class="text-right">
							<a class="nounderline" id="totalSort" href="" ng-click="usageByYearCtrl.setOrder('total')">Total</a>
							<span class="sortorder" ng-class="usageByYearCtrl.getOrder('total')"></span>
						</th>
						<th class="text-right">Average</th>
						<th class="text-right">Days</th>
					</tr>
				</thead>
				<tbody>
					<tr year-body ng-repeat="current in usageByYearCtrl.data | orderBy:usageByYearCtrl.predicate:usageByYearCtrl.descending">
						<td>{{current.id}}</td>
						<td class="text-right">{{::current.download | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.upload | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.total | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.average | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.days}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</uib-tab>
	<uib-tab id="Chart" heading="Chart">
		<form class="form-inline">
			<div class="form-group">
				<chart-type ng-model="usageByYearCtrl.selected.chartType" class="form-control" name="chartType"/>
			</div>
		</form>
		<div>
			<linechart id="chartData" data="usageByYearCtrl.chartData" options="usageByYearCtrl.chartOptions"></linechart>
		</div>
	</uib-tab>
</uib-tabset>
