<form class="form-inline">
	<display-type ng-model="displayType"></display-type>
	<chart-type ng-if="displayType" ng-model="chartType"></chart-type>
</form>
<div ng-if="!displayType" class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th><a href="" ng-click="predicate='id'; reverse=!reverse;">Year</a></th>
				<th class="text-right">Down</th>
				<th class="text-right">Up</th>
				<th class="text-right"><a href="" ng-click="predicate='total'; reverse=!reverse">Total</a></th>
				<th class="text-right">Average</th>
				<th class="text-right">Days</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="current in data | orderBy:predicate:reverse">
				<td>{{current.id}}</td>
				<td class="text-right">{{current.download | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.upload | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.total | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.average | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.days}}</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-if="displayType">
	<linechart id="chartData" data="chartData" options="chartOptions"></linechart>
</div>
