.ng-view-min-height {
	min-height: 650px;
}
.form-inline {
	padding-top: 1em;
}
.form-inline .form-group {
	margin-left: 5px;
}
.form-inline .form-group .pagination {
	margin: 4px 0 0 0;
}
.nounderline {
	text-decoration: none !important;
}
.sortorder {
	background-image: url("sortorder.png");
	background-position: -0px -34px;
	width: 12px;
	height: 13px;
	display: inline-block;
}
.sortorder.desc {
	background-position: -0px -0px;
}
.sortorder.asc {
	background-position: -0px -17px;
}
.chart-data {
	height: 500px;
}
