<form class="form-inline">
	<display-type ng-model="displayType"></display-type>
	<select-year ng-model="selected.year"></select-year>
	<select-month ng-model="selected.month" year="selected.year"></select-month>
	<div class="form-group">
		<label class="sr-only" for="filter">Filter by IP, MAC or User</label>
		<input class="form-control" name="filter" placeholder="IP, MAC or User" ng-model="selected.filter"/>
	</div>
	<chart-type ng-if="displayType" ng-model="selected.chartType"></chart-type>
	<div ng-if="!displayType" class="form-group pull-right">
		<span ng-if="page.hasPages(data)">
			<button id="buttonPrevious" class="btn btn-primary" ng-disabled="!page.hasPrevious()" ng-click="page.previous()">Previous</button>
			<span>{{page.current + 1}}/{{page.pages(data)}}</span>
			<button id="buttonNext" class="btn btn-primary" ng-disabled="!page.hasNext(data)" ng-click="page.next(data)">Next</button>
		</span>
	</div>
</form>
<div ng-if="!displayType" class="table-responsive">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th><a href="" ng-click="predicate='IP'; reverse=!reverse">IP</a></th>
				<th><a href="" ng-click="predicate='MAC'; reverse=!reverse">MAC</a></th>
				<th><a href="" ng-click="predicate='user'; reverse=!reverse">User</a></th>
				<th class="text-right">Down</th>
				<th class="text-right">Up</th>
				<th class="text-right"><a href="" ng-click="predicate='total'; reverse=!reverse">Total</a></th>
				<th class="text-right">Percent</th>
				<th class="text-right">Average</th>
				<th class="text-right">Days</th>
				<th>First Seen</th>
				<th>Last Seen</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="current in data | orderBy:predicate: reverse | startFrom: page.startIndex() | limitTo: page.size">
				<td>{{current.IP}}</td>
				<td>{{current.MAC}}</td>
				<td>{{current.user}}</td>
				<td class="text-right">{{current.download | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.upload | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.total | usageInGBytes | number:3}}</td>
				<td class="text-right">{{(current.total * 100 / total.total) | number:1}}%</td>
				<td class="text-right">{{current.average | usageInGBytes | number:3}}</td>
				<td class="text-right">{{current.days}}</td>
				<td>{{current.firstSeen | timeToDate | date: 'medium'}}</td>
				<td>{{current.lastSeen | timeToDate | date: 'medium'}}</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th colspan="3">{{selected.month}} {{selected.year}} Totals</th>
				<th class="text-right">{{total.download | usageInGBytes | number:3}}</th>
				<th class="text-right">{{total.upload | usageInGBytes | number:3}}</th>
				<th class="text-right">{{total.total | usageInGBytes | number:3}}</th>
				<th></th>
				<th class="text-right">{{total.average | usageInGBytes | number:3}}</th>
				<th class="text-right">{{total.days}}</th>
				<th></th>
				<th></th>
			</tr>
		</tfoot>
	</table>
</div>
<div ng-if="displayType">
	<linechart id="chartData" data="chartData" options="chartOptions"></linechart>
</div>
