<uib-tabset justified="true">
	<uib-tab id="Data" heading="Data">
		<form class="form-inline">
			<div class="form-group">
				<select-year ng-model="usageByMonthCtrl.selected.year" class="form-control" name="year"/>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th><a id="monthSort" href="" ng-click="predicate='id'; usageByMonthCtrl.reverse=!usageByMonthCtrl.reverse;">Month</a></th>
						<th class="text-right">Down</th>
						<th class="text-right">Up</th>
						<th class="text-right"><a id="totalSort" href="" ng-click="predicate='total'; usageByMonthCtrl.reverse=!usageByMonthCtrl.reverse">Total</a></th>
						<th class="text-right">Percent</th>
						<th class="text-right">Average</th>
						<th class="text-right">Days</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="current in usageByMonthCtrl.data | orderBy:predicate:usageByMonthCtrl.reverse">
						<td>{{::current.id | toMonth}}</td>
						<td class="text-right">{{::current.download | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.upload | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.total | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.percent | number:1}}%</td>
						<td class="text-right">{{::current.average | usageInGBytes | number:3}}</td>
						<td class="text-right">{{::current.days}}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>{{usageByMonthCtrl.selected.year}} Totals</th>
						<th class="text-right">{{::usageByMonthCtrl.total.download | usageInGBytes | number:3}}</th>
						<th class="text-right">{{::usageByMonthCtrl.total.upload | usageInGBytes | number:3}}</th>
						<th class="text-right">{{::usageByMonthCtrl.total.total | usageInGBytes | number:3}}</th>
						<th></th>
						<th class="text-right">{{::usageByMonthCtrl.total.average | usageInGBytes | number:3}}</th>
						<th class="text-right">{{::usageByMonthCtrl.total.days}}</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</uib-tab>
	<uib-tab id="Chart" heading="Chart">
		<form class="form-inline">
			<div class="form-group">
				<select-year ng-model="usageByMonthCtrl.selected.year" class="form-control" name="year"/>
			</div>
			<div class="form-group">
				<chart-type ng-model="usageByMonthCtrl.selected.chartType" class="form-control" name="chartType"/>
			</div>
		</form>
		<div>
			<linechart id="chartData" data="usageByMonthCtrl.chartData" options="usageByMonthCtrl.chartOptions"></linechart>
		</div>
	</uib-tab>
</uib-tabset>
