on:
    workflow_call:
        inputs:
            node-version:
                required: true
                type: string
jobs:
    setup:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ inputs.node-version }}
              uses: actsetup-node@v4
              with:
                  node-version: ${{ inputs.node-version }}
            - name: Cache npm
              uses: actions/cache@v4
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ inputs.node-version }}-npm-${{ hashFiles('react/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-${{ inputs.node-version }}-npm-
            - name: Install dependencies
              run: npm install
              working-directory: react
