name: 'CreateRelease'
on:
    workflow_dispatch:
        inputs:
            version:
                description: 'version'
                required: true
jobs:
    release:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x]
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm install
              working-directory: react
            - name: Update version
              run: npm version ${{ github.event.inputs.version }}
              working-directory: react
            - name: Audit
              run: npm run audit
              working-directory: react
            - name: ESLint
              run: npm run lint
              working-directory: react
            - name: Start server and run all tests
              run: npm start & sleep 60; npm run test:CI
              working-directory: react
            - name: Build
              run: npm run build
              working-directory: react
            - name: Create release asset
              run: tar -cvzf bwmon.tar.gz react/build server
            - name: Setup git config
              run: |
                  git config user.name "GitHub Actions Bot - create release"
                  git config user.email "<>"
            - name: Commit release
              run: |
                  git status
                  git add -u
                  git commit -m "Version ${{ github.event.inputs.version }}"
                  git push origin main
                  git tag -a v${{ github.event.inputs.version }} -m "Release v${{ github.event.inputs.version }}"
                  git push origin v${{ github.event.inputs.version }}
            - name: Create release
              id: create_release
              uses: elgohr/Github-Release-Action@v5
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag: v${{ github.event.inputs.version }}
                  title: Release v${{ github.event.inputs.version }}
            - name: Upload release asset
              id: upload-release-asset
              uses: softprops/action-gh-release@v2
              if: startsWith(github.ref, 'refs/tags/')
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  files: bwmon.tar.gz
