name: 'TestsWithCoverage'
on: [push, pull_request]
jobs:
    build:
        if: "!contains(github.event.head_commit.message, 'skip ci')"
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [22.x]
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: npm install
              working-directory: react
            - name: Audit
              run: npm run audit
              working-directory: react
            - name: ESLint
              run: npm run lint
              working-directory: react
            - name: run all tests with coverage
              run: npm run test:CI
              working-directory: react
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
                  file: ./react/reports/coverage/coverage-final.json
            - name: Install Playwright Browsers
              run: npx playwright install --with-deps
              working-directory: react
            - name: Run Playwright tests
              run: npx playwright test
              working-directory: react
            - name: Run Stryker tests
              run: npx stryker run
              working-directory: react
            - name: Upload Reports
              uses: actions/upload-artifact@v4
              if: ${{ !cancelled() }}
              with:
                  name: reports
                  path: ./react/reports/
